.atteilier{
    background: #40A9E4;
    width: 100%;
    height: 70vh;
}
.atteilier h1{
    color: #FFF;
    text-align: center;
font-family: 'Inter';
font-size: 2.5em;
font-weight: 600;
padding-top: 8px;


}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 0 0 7%;
    height: 50vh;
    width: 100%;
    gap: 20%;
}
.container img{
    width: 80%;
    border-radius: 50%;
    border : 2px solid #fff ;
 
}

.heures h2{
    color: #FFF;
font-family: 'Inter';
font-size: 64px;
font-weight: 500;

}
.heuex-sem{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
     gap: 40px;
}
.content_heues{
    color: #FFF;
font-family: 'Inter';
font-size: 36px;
font-weight: 700;
}
.content_heues p{
    /* font-size: 25px; */
    color: #ffff;
 
}
/* fin heure attelier */
/* debut attelier */
.Atelier-safi{
    width: 100%;
    height: 150vh;
}
.Atelier-safi .container-atelier{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    width: 100%;
    padding: 5%;
}
.Atelier-safi .container-atelier .taille{
    color: #000;
font-family: 'Inter';
font-size: 1.4em;
font-weight: 700;

}
.Atelier-safi .container-atelier .content{
    width: 70%;
    line-height: 120%;

}
.Atelier-safi .container-atelier .content p{
    font-size: 27px;
    width: 500px;
    line-height: 125%;
}

 .container-atelier .content h2{
    color: #40A9E4;
font-family: 'Inter';
font-size: 1.4em;
font-weight: 700;
padding-bottom: 16px;
}
.Atelier-safi .container-atelier .images img{
    width: 500px;
}
/* fin attelier */
/* debut rserve */
.resrve{
    width: 100%;
    background-color: #40A9E4;
    height: 60vh;
}
.resrve h2{
text-align: center;
padding: 2% 0;
color: #FFF;
font-family: 'Inter';
font-size: 2em;
font-weight: 700;
}
.resrvation{
    display: flex;
   justify-content:center;

   

}
.contact {
    width: 50%;
    
}
.contact table tr td {
    padding: 2% 10% 2% 0;
    width: 200px;
  
 
}
.contact table tr td label{
    color: #FFF;
text-align: center;
font-family: 'Inter';
font-size: 1em; 
font-weight: 800;

}

.contact input,select {

    border: none;
    border-radius: 50px;
    outline: none;
    padding: 5% 8% 5% 0;
    padding-left: 8%;
}
.contact input::placeholder{
    color: #000;
}
select{
    padding-right: 48%;
}
.images-slide{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 2%;
}
.images-slide img{
    width: 400px;
    height: 150px;
    margin-bottom: 3%;
    border-radius: 10px;
}
#btn{
    background-color: #FFF;
    border: none;
    border-radius: 50px;
    outline: none;
    width: 50%;
    color: #40A9E4;
    padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;

}
.images-slide span {
   padding-top: 2%;
   font-size: 22px;
   color: #FFF;
}
#btn:hover{
    background-color: #3c3cc1;
    color: #FFF;
    
}
/* responise */
@media (max-width: 768px) {
    /* attelier */
    .atteilier{
        height: auto;
     
    }
    .atteilier h1{
        margin-left: 5%;
    }
    .container{
        flex-direction: column-reverse;

        height: auto;
        width: auto;
        text-align: center;
    }
    .container img{
        width: 70%;
        margin-bottom: 8px;
    }
    .container .heures{
        width: auto;
        height: auto;
    }
    
    .heures h2{
        font-size: 1.3em;
        margin-bottom: 8px;
        text-align: center;
    }
    .heuex-sem{
      display: flex;
      flex-direction: column;
      gap:8px;
      margin-bottom: 8px;
    }
    .content_heues{
    font-size: 22px;
 
    }
    /* attelier position */
    .Atelier-safi{
        height: auto;
        width: 100%;
    }
    .Atelier-safi .container-atelier{
        grid-template-columns: repeat(1,1fr);
         width: 90%;
         margin: 0 auto;
   

    }
    .Atelier-safi .container-atelier .content h2{
        text-align: center;
        font-size: 20px;
        margin-left: 42%;
    }
    .Atelier-safi .container-atelier .content p  {
      width:120%;
      text-align: center;
      margin-left: 15%;
   
    }
    .Atelier-safi .container-atelier .images img{
           width: 80%;
           margin-left: 10%;
       
    }
 .taille:nth-child(4){
    grid-row: 3;
 }
/* resevation  */
.resrve{
    height: auto;
}
.resrve h2{
   
font-size: 1em;


    }
    .resrvation{
       flex-direction: column;
    
    
    }
    .contact {
        width: 100%;
      
       
    }
    .contact table tr td {
        
        width: 30%;
     
    }
    .images-slide{
        width: 100%;
    }
   
    .images-slide img{
        width: 300px;
        height: 150px;
        margin: 0 auto;
        border-radius: 10px;
    }
    #btn{
      width: 80%;
      margin: 4% auto;

    
    }
}