/*HESTOIRE  */
.HESTOIRE{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background: #40A9E4;
    padding: 2% 0;
  
}

.intrduction h1{
    color: #FFF;
font-family: 'Inter';
font-size: 78px;
font-weight: 600;
}
.HESTOIRE .intrduction p{
    width: 423px;
    color: #000;
    font-family: Inter;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 148%;
}
.images-h img{
    border-radius: 50%;
    border : 2px solid #fff;
}
/* Galerie */
.galerie{
    width: 100%;
    height: 100vh;
    background-color: #90C5EC;
}
.galerie h2{
    text-align: center;
color: #FFF;
font-family:'Inter';
font-size: 50px;
font-weight: 600;
padding: 1em 0;
}
/* .galerie .images{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 70%;
} */
.galerie .images{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
width: 80%;
height: 80%;
margin:  3em auto;


}
.galerie .images .img-g{
    width: 30%;
    height: auto;
    padding-top: 1em;
    margin: 0 auto;


}
.im1{
    background-image: url(imggallery/Coupe-à-Fruit-OR-XXX1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.im2{
    background-image: url(imggallery/Mini-Table11.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.im3{
    background-image: url(imggallery/MINITABLE.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.im4{
    background-image: url(imggallery/MaskgroupF.png);
    background-size:124%;
    background-repeat: no-repeat;
    background-position: center top;
    /* width: 100%; */
}
.im5{
    background-image: url(imggallery/Maskgroup-2.png);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;

}
.im6{
    background-image: url(imggallery/MASK-TABLEOR.png);
    background-position: center top;
    background-size: cover;
}
/*  video*/
.video{
    width: 100%;
    height: 100vh;
    margin: 10% 0;
}
.video h2{
    text-align: center;
        color: #2A9AEC;
        font-family: 'Inter';
        font-size: 41px;
        font-weight: 700;
}
.mp4{
    width: 80%;
    height: 80vh;
    margin:  5% auto;
}
.mp4 video{
    width: 100%;
    height: auto;
    border:2px solid #000;
}