/*HESTOIRE  */
.HESTOIRE{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background: #40A9E4;
    padding: 5% 0 ;
  
}

.intrduction h1{
    color: #FFF;
font-family: 'Inter';
font-size: 78px;
font-weight: 600;
}
.HESTOIRE .intrduction p{
    width: 423px;
    color: #000;
    font-family: Inter;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 148%;
}
.images-h img{
    border-radius: 50%;
    border : 2px solid #fff;
}
/* Galerie */
.galerie{
    width: 100%;
    height: 80vh;
    background-color: #90C5EC;

}
.galerie h2{
   
text-align: center;
color: #FFF;
font-family:'Inter';
font-size: 50px;
font-weight: 600;;
padding: 2.5% 0 ;
}

.galerie .images{
 width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
    margin:  0 auto;
}
.galerie .images img{
   width: 95%;
   height: 95%;
   /* margin: 1em auto 0; */
}

/*  video*/
.video{
    width: 100%;
    height: 60vh;
    margin: 12% 0 0;
}
.video h2{
    
    text-align: center;
        color: #2A9AEC;
        font-family: 'Inter';
        /* font-size: 41px; */
        font-size: 2.7em;
        font-weight: 700;
      
}
.mp4{
    width: 80%;
    margin:  5% auto 0;
}
.mp4 video{
    width: 100%;
    border:2px solid #000;
}
footer{

    margin-top: 30%;
}
@media (max-width: 768px)     {
    /* NAV */
 .hamburger{
     display: block;
 }
 /* .hamburger.active .bar:nth-child(2){
     opacity: 0;
 }
 .hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
 }
 .hamburger.active .bar:nth-child(3){
     transform: translateY(-8px) rotate(-45deg);
 } */
   .nav-menu {
     position: fixed;
     left: -100%;
     top: 70px;
     gap: 0;
     flex-direction: column;
     background-color: #262626;
     width: 100%;
     text-align: center;
     transition: 0.3s;
     z-index: 10000;
 }
 .nav-logo img{
     width: 25%;
     }
 .nav-item {
     margin:1em 0;
 }

 .nav-menu.active {
     left: 0;
 }
 .HESTOIRE{
    align-items: center;
    flex-direction: column;
 }
 .intrduction h1{
  text-align: center;
font-size: 2em;

}
.HESTOIRE .intrduction p{
    width: auto;
    text-align: center;
   font-size: 1.4em;
 
}
.images-h img{
    width: 200px;
}
/* galerie */
.galerie{
    width: auto;
    height: auto;

}
.galerie .images{
 
     grid-template-columns: repeat(1, 1fr);
    
       
   }
   /* vedio */
   .video{
    height: auto;
   }
   .video h2{
    font-size: 2em;
   }
  /* footer */
   footer{
   
          
        margin-top: -10%;
    
   }
}