
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lexend:wght@700&family=PT+Serif&family=Poppins:ital,wght@0,300;0,400;0,700;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
header {

    background-color: #ffff;
}
nav ul li {
    list-style: none;
}
a{
    color: #2A9AEC;
    text-decoration: none;
}
.navbar{
    min-height:70px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25em;

}
.nav-logo img{
width: 10%;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.88em;
    /* background-color: #fff; */
}
nav ul li a {
    transition:  0.7s ease-in-out;
    padding: 8px 1em; 
}


.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition:all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:#40A9E4;
}

    /* section hero */
    .hero{
        /* background-image:linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.8)),url(IMG/rabat-souk.webp); */
         background-image: url(../IMG/rabat-souk.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 90vh;
        
     
       
    }
   .hero .container{
    margin: 2em 2em;
     padding:6em 0 0;

 
    }
    .hero .container h1{
        display: inline-block;
            color: #0B6DFF;
            font-family:'Poppins';
            font-size: 2.5em;
            font-weight: 700;
            text-transform: capitalize;
            border-radius: 81px;
            opacity: 0.69; 
            background: #FFF;
           padding: 1em 1.4em;
            margin-bottom: 1em;
    }
    .hero .container p{
        color: #FFF;
        font-family: 'Poppins';
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 1em;
     
    }
 .paragraphe{
        color: #F7F7F7;
        font-family: 'Russo One';
        font-size: 22px;
        font-weight: 400;
        text-transform: capitalize;
        width: 527px;
        line-height: 170%;
                
    }
/* About */
.About{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.About div{
    width: 40%;
    height: 70%;
}
.About div p {
   
    color: #000;
    font-family: Inter;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.About div h2{
    color: #2A60EC;
    font-family: 'Inter';
    font-size: 3em;
    font-weight: 600;
}


.About img{

    display: block;
    width: 40%;
    height: 70%;
} 
/* PRODUITS  ARTISANALS   */
.product{
    width: 100%;
    height: auto;
    background-color:#40A9E4 ;
   padding-bottom: 5%;
}
.product h2{
    text-align: center;
    color: #ffff;
    font-family: 'Inter';
    font-size: 3em;
    font-weight: 600;
    padding-top: 1em;
    padding-bottom: 1em;

}
.product .container{
    max-width:  85%;
    margin: 20px auto;
}
 .product .container .imaageproduct{
    columns: 3 250px;
    gap:15px;
}
.product .container  .imaageproduct img{
    width: 100%;
} 




/* Artiste */
.Artiste{
    width: 100%;
    height: 100vh;

}
.Artiste h2{
    text-align: center;
    color: #2A60EC;
    font-family: 'Inter';
    font-size: 3em;
    font-weight: 600;
    padding: 1em 0;
    
   
}
.container-artiste{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */

}
.container-artiste .arts1{
    background-color: #40A9E4;
    text-align: center;
    border-radius: 20px;
    width: 25%;
}
.container-artiste .arts1 img{
    width: 70%;
    border-radius: 25px;
    margin: 20px auto;
   
}
.container-artiste .arts1 h3{
    color: #000;
    font-family:'Potta One';
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1em;
}
.container-artiste .arts1 p{
    color: #E2E6F0;
    font-family:'Potta One';
    font-size: 10px;
    font-weight: 400;
    text-transform: capitalize;
    width: 200px;
    margin:0 auto ;
    padding-bottom: 12%;
}
/* INFORMATIONS PRATIQUES */
.informatique{
    background-color: #2A9AEC;
     height: 60vh; 
    width: 100%;
 
}
.informatique h2{
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 2em;
    font-weight: 600;
    padding: 0.5em;
   
}
.accordion{
    background-color: #FFF;
    width: 80%;
    margin: 0 auto;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 15px;
}
.accordion li label {
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    padding: 0 20px;
    display: flex;
     cursor: pointer;
}
.accordion li  label::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}
input[type="checkbox"]{
display: none;
}
.accordion .content {
color: #000;
font-family: 'Inter';
font-size: 12px;
font-weight: 600;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s, padding 0.5s;
}

.accordion input[type="checkbox"]:checked + label + .content {
max-height: 400px;
padding: 10px 10px 20px;
}
.accordion input[type="checkbox"]:checked + label::before{
content: '-';
}
/* fin informatique */
/* footer */
footer{
    width: 100%;
    height: 50vh;
    display: flex;
     justify-content: center;
     align-items: center;
}

.content-footer .links{
 display: flex;
 justify-content: center;
 gap: 32px;
 align-items: center;

}

.socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
 .socialmedia .icons img{
        width: 20px;
    }
    @media (max-width: 768px)     {
           /* NAV */
        .hamburger{
            display: block;
        }
        /* .hamburger.active .bar:nth-child(2){
            opacity: 0;
        }
        .hamburger.active .bar:nth-child(1){
         transform: translateY(8px) rotate(45deg);
        }
        .hamburger.active .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        } */
          .nav-menu {
            position: fixed;
            left: -100%;
            top: 70px;
            gap: 0;
            flex-direction: column;
            background-color: #262626;
            width: 100%;
            text-align: center;
            transition: 0.3s;
            z-index: 10000;
        }
        .nav-logo img{
            width: 25%;
            }
        .nav-item {
            margin:1em 0;
        }
    
        .nav-menu.active {
            left: 0;
        }
        /* HERO */
        .hero{
            background-image:linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.8)),url(../IMG/rabat-souk.webp);
               height: 100vh;
        }
        .hero .container{
           
            padding: 7em 0 0;
            text-align: center;
            width: 100%;
            height: 100%;
           }
           .container h1{
            padding: 0.2em 0.4em;
            margin-bottom: 0.2em;
           }
           .container p{
            margin-bottom: 0.5em;
            font-size: 1em;
           }
         .paragraphe{
            font-size: 17px;
            /* padding-right: 33%; */
            width: 80%;
            margin: 0 auto;
                    
        }
           /* ABOUT */
           .About{
            flex-direction: column;
            height: auto;
            width: 100%;
            text-align: center;
           }
           .About div{
            width: 70%;
          
        }
        .About div h2{
            padding: 1em 0 0.4em;
            font-size: 2.8em;
           }
           .About img{
            width: 70%;
           }
        /* PRODUITS  ARTISANALS */
        .product{
            height: auto;
           padding-bottom: 2%;
        }
        .product h2{
            font-size: 2.8em;
            padding-bottom: 0;
        
        }
       .product .container{
            padding: 1.7em 0 0;
            margin: 0 auto;
        }
     
     
        /* ARTISTE */
        .Artiste{
             
            height: auto;
            padding-bottom: 2%;
        
        }
        .Artiste h2{
            padding-bottom: 8px;

          
        }
        .container-artiste{
             flex-direction: column; 
            gap: 32px;
            width: 100%;
            
               
            
            
        }
        .container-artiste .arts1{
            width: 60%;

        }
        .container-artiste .arts1 p{
         
            font-size: 13px;
          
            width: 80%;
         
        }
          /* INFORMATIONS PRATIQUES */
    .informatique{
       
        height: auto;
        width: 100%;
        padding-bottom: 5%;
        margin: 5% 0 0;
    } 
    .informatique h2 {
        font-size: 2.5em;

    }
    /* footer */
    .content-footer .links{
        height: auto;
        flex-direction: column;
        margin-top: 2em;
        padding-top: 5em;
    
    }
    .socialmedia .icons{
        height: auto;
        padding-top: 1em;
        padding-bottom: 2em;
        margin-bottom: 1em;
    }
}